<div ng-include="'views/partials/sidenavdriver.html'"></div>
<div layout="row" layout-align="center center">
  <md-button style="width:50%; height:40px; margin:10px" ng-show="dc.buttonVisible" ng-click="dc.toggle()" class="secondary md-raised">Go Live</md-button>
  <md-button style="width:50%; height:40px; margin:10px" ng-hide="dc.buttonVisible" ng-click="dc.toggle()" class="secondary md-raised">Online</md-button>
</div>
<div layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>


<!-- <div id="floating-panel">
  <b>Start: </b>
  <input type="text" ng-model="dc.start">
  <b>End: </b>
  <input type="text" ng-model="dc.end" value="">
  <button type="button" ng-click="dc.onClick()">Find Directions</button>
</div>
<div id="right-panel"></div>
<div id="map"></div> -->
