<div class="container">
  <h1 class="lead">DriverLogin</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="dc.message != ''">{{dc.message}}</h2>
    <form >
      <div>
        <md-input-container>
          <label for="username">Username:</label>
          <input type="text" ng-model="dc.user.username" autofocus/>
        </md-input-container>

      </div>
      <div>
        <md-input-container>
          <label for="password">Password:</label>
          <input type="password" ng-model="dc.user.password" />
        </md-input-container>
      </div>
      <div>
        <md-button class="md-raised md-primary" ng-click="dc.login()">Log In</md-button>

          <a href="#home">Cancel</a>
      </div>
    </form>

</div>
