/* Mobility 4 All Logo colors
  light green: rgb(137, 197, 87);
  gray: rgb(98, 89, 80);
*/
html {
  /*background-color: rgb(233, 243, 254);*/
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  background-color: inherit;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  /*color: rgb(137, 197, 87);*/
  color: rgb(20,126,237);
}

h3{
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: red;
}

h4{
  font-size: 30px;
}

h5{
  font-size: 27px;
}

main {
  height: 100%;
}

header {
  background-color: rgb(20, 126, 237);
  margin-bottom: 15px;
}

a {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

input {
  font-size: 1.5em;
  font-family: inherit;
}

.welcome {
  height: inherit;
}

.on-demand {
  height: inherit;
}

.md-button {
  font-size: 1.25em;
  padding: 15px;
  border-radius: 10px;
}

.md-button.secondary {
  background-color: #E8E8E8;
}

label {
  font-size: 1.5em;
}

.md-label {
  font-size: 1.5em;
}

.location {
  font-family: 'Comfortaa', cursive;
  color: black;
}

.rider-map {
  height: 75%;
}

.text {
  text-align: center;
  font-size: 18px;
  font-family: Lato, sans-serif;
}

.header .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.lead {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px black;
  padding: 30px 0 15px 15px;;
  margin: 0;
}

.purpose {
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  margin-bottom: 0;
  font-variant: small-caps;
}

.header {
  background-color: rgb(98, 89, 80);
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
/* sideNav styles for Rider navbar */
.logosidenav {
  height: 150px;
}

/* Nav styles */

.horizontal-logo {
  height: 50px;
}

.addressPartial {
  height: 100px;
}

md-sidenav {
  height: 100%;
}

.md-sidenav-right {
  z-index: 100;
}

/* AUTCOMPLETE INPUT STYLING  */



/*Google maps style*/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 300px;

}
/* Optional: Makes the sample page fill the window. */
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/
#floating-panel {
  /*position: absolute;*/
  top: 75px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
  float: none;
  width: auto;
}


#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

 #right-panel select, #right-panel input {
   font-size: 15px;
 }

 #right-panel select {
   width: 100%;
 }

#right-panel i {
   font-size: 12px;
 }

#right-panel {
   height: 600px;
   float: right;
   overflow: auto;
   font-size: 15px;
 }

.home-button {
  width: 100%;
}

.request-button {
  width: 95%;
}

.md-button.md-accent.md-raised {
  background-color: rgb(38, 185, 57);
  /*background-color: rgb(137, 197, 87);*/
  color: white;
}

md-dialog {
  width: 95%;
}

#autocomplete, #autocomplete2 {
  border: 2px solid rgb(20,126,237);
  padding-left: 10px;
  font-family: inherit;
}
