/* Mobility 4 All Logo colors
  light green: rgb(137, 197, 87);
  gray: rgb(98, 89, 80);
*/

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: rgb(137, 197, 87);
}

h3{
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: red;
}

.md-button.secondary {
  background-color: #E8E8E8;
}

.text {
  text-align: center;
  font-size: 18px;
  font-family: Lato, sans-serif;
}

.header .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.header {
  background-color: rgb(98, 89, 80);
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
/* sideNav styles for Rider navbar */
.logosidenav {
  height: 150px;
}

/* Nav styles */

.horizontal-logo {
  height: 50px;
}


/* AUTCOMPLETE INPUT STYLING  */



/*Google maps style*/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 300px;

}
/* Optional: Makes the sample page fill the window. */
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/
#floating-panel {
  /*position: absolute;*/
  top: 75px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
         float: none;
         width: auto;
       }


#right-panel {
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   padding-left: 10px;
 }

 #right-panel select, #right-panel input {
   font-size: 15px;
 }

 #right-panel select {
   width: 100%;
 }

#right-panel i {
   font-size: 12px;
 }

#right-panel {
   height: 600px;
   float: right;
   overflow: auto;
    font-size: 15px;
 }
