<!-- Dialog box displayed to rider when ride is accepted -->
<md-dialog aria-label="driver arrival">
  <form ng-cloak>
    <!-- Toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="rc.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- Content -->
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Your driver, {{rc.rideObject.driver.first_name}} is on the way!</h2>
        <div layout="row">
        <img style="height:150px;" ng-src="{{rc.rideObject.driver.driver_photo_url}}"/>
        <img style="height:150px;" ng-src="{{rc.rideObject.driver.vehicle_photo_url}}"/>
      </div>
        <p>
          <b>ETA: {{rc.rideObject.rider.eta[0].duration.text}}</b>
        </p>
        <p>Would you like to send your driver an additional message?</p>
        <md-input-container>
          <label for="message">Message:</label>
          <input type="text" ng-model="message" />
        </md-input-container>
      </div>
    </md-dialog-content>
    <!-- Buttons -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="rc.cancel()">
       Close
      </md-button>
      <md-button class="md-raised md-primary" ng-click="rc.answer(message)">
        Send Message
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
