<md-dialog aria-label="driver arrival">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Your driver is on the way!</h2>
        <h2>{{rc.rideObject.driver.first_name}}</h2>
        <img ng-src="{{rc.rideObject.driver.driver_photo_url}}"/>
        <img ng-src="{{rc.rideObject.driver.vehicle_photo_url}}"/>
        <p>
          ETA data here
        </p>
        <p>Would you like to send your driver an additional message?</p>
        <md-input-container>
          <label for="message">Message:</label>
          <input type="text" ng-model="answer.message" />
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('Your driver is on the way.')">
       No Thanks
      </md-button>
      <md-button ng-click="answer('Message was sent to the Driver')">
        Send
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
