<!-- Bottom sheet for driver shows ride requests -->
<md-bottom-sheet class="md-grid" layout="column">
  <!-- Countdown progress bar -->
  <md-progress-linear md-mode="determinate" value="{{acceptCountdown}}"></md-progress-linear>
  <!-- Rider information content -->
  <div layout="column">
    <h4>Ride request from: {{rideObject.rider.rider_first}}</h4>
    <div layout="row" layout-align="center center" ng-cloak>
      <img style="height:150px;" ng-src="{{rideObject.rider.rider_photo_url}}">
    </div>
    <h4>Rider Needs:</h4>
    <p class="need-list" ng-repeat="need in specialNeeds">{{need}}</p>
    <p>
      <b>Estimated driving time to address: {{rideObject.rider.eta[0].duration.text}}</b>
    </p>
    <!-- Accept button -->
    <div ng-controller="DefaultViewController as dc" layout="column" layout-align="center center">
      <md-button ng-click="dc.navigationService.acceptRide()" class="md-raised md-primary">Accept Ride</md-button>
    </div>
  </div>
</md-bottom-sheet>
