<md-bottom-sheet class="md-grid" layout="column">
  <div layout="column">
    <h4 class="text">Ride Request: {{dc.riderInfo.rider_first}}</h4>
    <div layout="row" layout-align="center center" ng-cloak>
      <img style="height:150px;" ng-src="{{dc.riderInfo.rider_photo_url}}">
    </div>
    <h4>Rider Needs:</h4>
    <p ng-repeat="need in dc.dataService.specialNeeds">{{need}}</p>
    <!-- <img ng-src="dc.rideObject.rider.rider_photo_url"> -->
    <p>
      ETA: {{dc.riderInfo.eta[0].duration.text}}
    </p>
    <md-button ng-click="dc.navigationService.acceptRide()" class="md-raised md-primary">Accept Ride</md-button>
  </div>

</md-bottom-sheet>
