<md-dialog aria-label="progress bar">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Searching for Fare</h2>
        <div layout="row">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>

      <md-button class="md-raised md-primary" ng-click="cancel()" >
        Okay!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
