<!-- <md-bottom-sheet ng-controller="NavBarController as nb">
  <md-subheader class="text" ng-cloak>Current Fare: $26.20</md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in items">

      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content" >
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet> -->

<md-bottom-sheet class="md-grid" layout="column" ng-controller="ArrivalController as ac">
  <div layout="row" layout-align="center center" ng-cloak>
    <p class="text">Current Fare: $26.20</p>
  </div>
  <div ng-cloak>
    <md-list flex layout="row" layout-align="center center">
      <md-list-item ng-repeat="item in ac.items">
        <div>
          <md-button class="md-grid-item-content" ng-click="ac.listItemClick($index)">
            <div class="md-grid-text"> {{ item.name }} </div>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>
