<md-toolbar  class="md-hue-4" ng-controller="NavBarController as nb">
       <div class="md-toolbar-tools" layout="row">
         <div flex layout="row" layout-align="end center">
           <h1>Mobility 4 All</h1>
           <md-button aria-label="Logo" ng-click="nb.userService.toggleLeft()" class="md-icon-button" ng-disabled="false">
             <md-icon class="material-icons">menu</md-icon>
           </md-button>
         </div>
         <div layout="column" ng-cloak>
           <section layout="row" flex>
             <md-sidenav style="height:500px;"class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-disable-backdrop md-whiteframe="4">
             <md-content layout-margin layout-align="center">


          <md-card-actions flex layout="column" layout-align="space around center">

          <md-button style="width:100%; height:40px; margin:10px;" class="md-primary md-raised" ng-click="nb.userService.toggleLeft()"> <a href="#/">Display Profile</a></md-button>
          <md-button style="width:100%; height:40px; margin:10px;" class="md-primary md-raised" ng-click="nb.userService.toggleLeft()"> <a href="#/">Contact MO</a> </md-button>
          <md-button style="width:100%; height:40px; margin:10px;" class="md-primary md-raised" ng-click="nb.userService.toggleLeft()"> <a href="#/">About MO</a> </md-button>
          <md-button style="width:100%; height:40px; margin:10px;" class="md-warn md-raised" ng-click="nb.userService.toggleLeft(); nb.userService.logout()">Log Out</md-button>
                     <md-button style="width:100%; height:40px; margin:10px;"layout-align="end bottom" ng-click="nb.userService.toggleLeft()" class="secondary md-raised">
                       <md-icon class="material-icons">close</md-icon>close
                      </md-button>
                      <img src="/../images/logo.png" alt="">
                   </md-card-actions>


             </md-content>
           </md-sidenav>
           </section>
           </div>
         </div>

</md-toolbar>
