<!-- About page for rider -->
<div ng-include="'views/partials/sidenavrider.html'"></div>
<div layout-padding>
  <h1>About Mobility 4 All</h1>
</div>
<img style="width:100%" src="../images/navigation-car-drive-road.jpg">
<div layout-padding>
  <p>
    Mobility 4 All (MO) is a high quality, cost effective, and on-demand transportation for people with
    disabilities.  In it's current state, MO is in pre-revenue stage of its lifetime and is currently
    seeking investors to get involved with the project.
    MO currently has a team of 8 members, motivated by a business opportunity and personal connections
    to transportation for people with disabilites.
  </p>
  <p>This app was built using the SEAN stack, (Postgresql, Express, AngularJS, Node.js).</p>
</div>
