<div class="container">
  <h1 class="lead">Sign Up</h1>
  <md-radio-group ng-model="rc.user.selection">

      <md-radio-button value="rider" class="md-primary">Rider/CareGiver</md-radio-button>
      <md-radio-button value="driver" class="md-primary"> Driver</md-radio-button>

    </md-radio-group>
  <h1 class="lead alert alert-danger" role="alert" ng-if="rc.message != ''">{{rc.message}}</h2>
  <form >
    <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="rc.user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="rc.user.password" />
    </div>
    <md-button class="md-raised md-primary" ng-click="rc.registerUser()">Register</md-button>
    <a href="#home">Cancel</a>
  </form>

</div>
