<div ng-include="'views/partials/sidenavrider.html'"></div>
<div layout="column" layout-align="space-around center" class="on-demand" layout-padding>
  <img class="logo" src="../../images/M4A_logo-4c.png" alt="Mobility 4 All Logo">
  <div layout="column" layout-align="center center">
    <md-button href="#/ride-purpose" class="md-raised md-primary request-button">Ride Now</md-button>
    <md-button class="md-raised md-primary request-button" disabled>Schedule Future Rides</md-button>
    <!-- <md-button class="md-raised md-primary" ng-click="oc.testMatch()">Test match</md-button> -->
  </div>
</div>
