<div ng-include="'views/partials/sidenavrider.html'"></div>


<!-- <md-button class="md-primary md-raised" ng-click="rc.DataService.showDriverMatched($event)">
  Driver Matched
</md-button> -->

<div ng-if="status" id="status">
  <b layout="row" layout-align="center center" class="md-padding">
    {{status}}
  </b>
</div>

<!-- <md-button class="md-primary md-raised" ng-click="showDriverArrived($event)">
  Driver Arrived
</md-button> -->
<ng-map  zoom="14" center="[45.0019, -93.256]" class="rider-map">
  <shape id="circle" name="circle" centered="true"
    stroke-color='SkyBlue' stroke-opacity="0.8" stroke-weight="2"
    center="[45.0019, -93.256]" radius="200" editable="false" ></shape>
</ng-map>


<!-- <div id="map"></div> -->
<!-- ng-if="dc.dataService.buttonShow" -->

<div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center" >
    <md-button class="md-raised md-warn" href="#/input-ride">Back</md-button>
    <!-- <md-button flex="50" class="md-primary md-raised" ng-click="rc.showGridBottomSheet()">Drop Off Rider</md-button> -->
</div>

<div  ng-if="alert">
  <br/>
  <b layout="row" layout-align="center center" class="md-padding">
    {{alert}}
  </b>
</div>
